
<div class="container">
  <header>
    <nav class="float-xs-right">
      <ul class="nav nav-pills">
        <li role="presentation" class="nav-item"><a href="/" class="nav-link active">Home</a></li>
        <li role="presentation" class="nav-item"><a href="/login" class="nav-link">Login</a></li>
        <li role="presentation" class="nav-item"><a href="/register" class="nav-link">Register</a></li>
        <li role="presentation" class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Competition Manager</h3>
  </header>

  <div class="jumbotron">
    <div class="container">
      <div class="col-sm-8 col-sm-offset-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; 2017 Competition Manager.</p>
  </footer>

</div> <!-- /container -->

