<header>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <div class="navbar-brand">Competition Manager</div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <nav class="navbar-collapse collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="!authService.isAuthenticated()" role="presentation" [routerLinkActive]="['active']">
            <a [routerLink]="['/login']">Login</a>
          </li>
          <li *ngIf="!authService.isAuthenticated()" role="presentation" [routerLinkActive]="['active']">
            <a [routerLink]="['/register']">Register</a>
          </li>
          <li *ngIf="authService.isAuthenticated()" role="presentation" [routerLinkActive]="['active']">
            <a [routerLink]="['/dashboard']">Dashboard</a>
          </li>
          <li *ngIf="authService.isAuthenticated()" role="presentation" [routerLinkActive]="['active']">
            <a [routerLink]="['/competitions']">Competitions</a>
          </li>
          <li *ngIf="authService.isAuthenticated()" role="presentation" [routerLinkActive]="['active']">
            <a [routerLink]="['/logout']">Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="container">

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer">
    <p>&copy; 2017 Competition Manager.</p>
  </footer>

</div> <!-- /container -->

