<div>
  <h2>Edit Competition</h2>
  <div *ngIf="loading" class="spinner"></div>
  <form *ngIf="!loading" name="form" (ngSubmit)="$event.preventDefault(); f.form.valid && saveCompetition();" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !groupTag.valid }">
      <label for="_competitionGroupTag">Group Tag</label>
      <input ng2-ng2-auto-complete
             id="_competitionGroupTag"
             [source]="availableCompetitionGroupTags"
             autocomplete="off"
             [(ngModel)]="competitionGroupTag"
             placeholder="Enter competition group tag"
             min-chars="1"
             name="_competitorGroupTag"
             class="form-control"
             #groupTag = "ngModel" />
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
      <label for="_competitionName">Name</label>
      <input id="_competitionName" type="text" class="form-control" name="_competitionName" [(ngModel)]="competitionName" #name="ngModel"
             required/>
      <div *ngIf="f.submitted && !name.valid" class="help-block">Name is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
      <label for="_competitionDescription">Description</label>
      <input id="_competitionDescription" type="_competitionDescription" class="form-control" name="_competitionDescription"
             [(ngModel)]="competitionDescription" #description="ngModel" required/>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !type.valid }">
      <label for="_competitionType">Type</label>
      <select class="form-control" id="_competitionType" [(ngModel)]="competitionType" name="_competitionType" #type="ngModel" required>
        <option *ngFor="let t of availableCompetitionTypes" [value]="t">{{t}}</option>
      </select>
      <div *ngIf="f.submitted && !type.valid" class="help-block">Type is required</div>
    </div>
    <div>
      <label>Competitors</label>
      <div *ngFor="let competitor of competitors" class="form-group">
        <div class="input-group">
          <input ng2-ng2-auto-complete
                 [source]="availableCompetitors"
                 autocomplete="off"
                 [(ngModel)]="competitor.value"
                 placeholder="Enter competitor"
                 list-formatter="name"
                 display-property-name="name"
                 min-chars="1"
                 name="_competitor[{{competitor.id}}]"
                 class="form-control"/>
          <span class="input-group-btn">
            <button [disabled]="loading" class="btn btn-primary" (click)="removeCompetitor(competitor); $event.preventDefault();">Remove</button>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary" (click)="addCompetitor(); $event.preventDefault();">Add competitor
      </button>
    </div>

    <div class="form-group">
      <button [disabled]="saving || loading" class="btn btn-default">Save</button>
      <img *ngIf="saving"
           src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>

</div>
